AnchorPane{
    -fx-background-image: url("../ressources/testISN.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}
@font-face {
    font-family: 'Zapftig';
    src: url('./ressources/Zapftig-Regular.otf');
}
.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 36px;
    -fx-font-family: Arial;
}
.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border:none;
    -fx-background-color: linear-gradient(#526579, #c4ccd9);
    -fx-alignment: center;
    -fx-background-radius: 10px;
    -fx-font-size: 18px;
    -fx-width: 200px;
}
.button:hover {
    -fx-text-fill: black;
}
#questionNumber {
    -fx-font-family: Zapftig;
    -fx-font-size: 30px;
    -fx-text-fill:  #febf5c;
}
#questionText {
    -fx-font-size: 20px;
    -fx-text-fill:  #526579;
    -fx-font-family: Arial;
    -fx-text-alignment: center;
    -fx-width: 470;
}
.label#textScore {
    -fx-text-fill: #526579;
    -fx-text-size: 36px;
    -fx-font-family: Zapftig;
    -fx-text-alignment: center;
}

.label#numberScore {
    -fx-text-fill: #526579;
    -fx-text-size: 28px;
    -fx-font-family: Zapftig;
    -fx-text-alignment: center;
}

.label#conseilleScore{
    -fx-text-fill: #526579;
    -fx-text-size: 8px;
    -fx-font-family: Arial;
    -fx-text-alignment: center;
}
